In [2]:
import pandas as pd

In [3]:
fake_df = pd.read_csv('../raw_data/fake_update.csv')

In [9]:
fake_df = fake_df.drop(columns='total')

In [10]:
true_df = pd.read_csv('/Users/hannadinizcunha/Downloads/true_cleaned.csv')

In [11]:
true_df

                                                    text  is_fake
0      The head of a conservative Republican faction ...        0
1      Transgender people will be allowed for the fir...        0
2      The special counsel investigation of links bet...        0
3      Trump campaign adviser George Papadopoulos tol...        0
4      President Donald Trump called on the U.S. Post...        0
...                                                  ...      ...
21187  NATO allies on Tuesday welcomed President Dona...        0
21188  LexisNexis, a provider of legal, regulatory an...        0
21189  In the shadow of disused Soviet-era factories ...        0
21190  Vatican Secretary of State Cardinal Pietro Par...        0
21191  Indonesia will buy 11 Sukhoi fighter jets wort...        0

[21192 rows x 2 columns]

In [12]:
merge_df = pd.concat([fake_df, true_df]).reset_index(drop=True)
merge_df

                                                    text  is_fake
0      Donald Trump just couldn t wish all Americans ...        1
1      House Intelligence Committee Chairman Devin Nu...        1
2      On Friday, it was revealed that former Milwauk...        1
3      On Christmas day, Donald Trump announced that ...        1
4      Pope Francis used his annual Christmas Day mes...        1
...                                                  ...      ...
37312  NATO allies on Tuesday welcomed President Dona...        0
37313  LexisNexis, a provider of legal, regulatory an...        0
37314  In the shadow of disused Soviet-era factories ...        0
37315  Vatican Secretary of State Cardinal Pietro Par...        0
37316  Indonesia will buy 11 Sukhoi fighter jets wort...        0

[37317 rows x 2 columns]

In [15]:
merge_df.to_csv('../raw_data/marged_df_update.csv', index=False)